@import '@fontsource/fira-mono';

.response-content {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		padding-top: 0.75rem;
		padding-bottom: 1rem;
	}
	ul,
	ol {
		padding-left: 2rem;
	}
	ul {
		list-style: circle;
	}
	ol {
		list-style: number;
	}
}
